<style>
.main{
  background-color: aqua;
  padding: 0%;
}
.camera-view{ /*css for the camera preview*/
  background-color: blueviolet; 
}
.infoBar{
  background-color: cadetblue;
}
.tabBar{
  background-color: chartreuse;
}
</style>
<div class = main>
  <div class = infoBar>

  </div>
  <div class = tabBar>
    <!--different tabs for navigating the application -->
  </div>
  <div class = "camera-view">
    <!--displays the low resolution camera preview streamed via the radio link-->
    hello world
    <img [src] = "CameraImageStream.getImage()", alt="bruh", [width] = "CameraImageStream.width" , [height] = "CameraImageStream.height"> <!--the image stream-->
  </div>
</div>
<router-outlet></router-outlet>